<!DOCTYPE html>
<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
   .banner{
    margin-top: 37px;
     background-image: url("<%= asset_path 'sshot4e51f4a8a62af.jpg' %>");
     color: white;
     background-repeat: no-repeat;
     background-size: 1600px ;
     text-align: center;
    }
   .table-striped{
    table-layout: fixed!important;
    width: 50%;
    margin: auto;

}
.image1{
  
   text-align: center;
 }

img{
    width:80%;
}
.table-striped{
  border-bottom: 1px solid grey;
}
</style>
<body>
 <div class="banner">
  <h1>Monitor your distributed DNS infrastructure</h1>
  <h5>Your Domain Name Server is critical to the availability and performance of your website, unsuccessful DNS forward lookups can result in downtime and intermittent errors affecting your user experience. The DNS server monitoring capability continuously checks the availability and response time and lets you stay ahead of potential domain resolution errors.
  </h5>
  <div class="button">
   <%= link_to new_question_path ,class: "btn btn-success" do%>
   <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>Monitor DNS
   <%end%>
  </div>
  &nbsp;
 </div>

<div class="schedule">
  <h1 style="text-align:center;">Latest searched</h1>

   <% @question.last(5).each do |q| %>

   <table class="table table-striped" >
    <tr>
     <td>-<%= q.dnsname %></td>
     <td style="color:grey ;"><i><%= q.created_at.in_time_zone('Kuala Lumpur').strftime("%d/%m/%y ""%I:%M %p" ) %></i>&nbsp;</td>
    </tr>
   </table>
   <%end%>
</div>
<hr style="margin-top:50px; position: static;">
<div class="image1">
  <h1 ><u>Monitor the availability of the DNS </u></h1> 
   <img src="/assets/Screenshot from 2017-06-20 15-24-47.png" alt="Generic placeholder image"  style="border-radius: 90px; box-shadow: 25px 25px 25px -5px #C0C0C0;">     
</div>
<hr style="margin-top:50px; position: static;">
</body>
</html>