
    <style>
    .footer{
    	position: absolute;
    	background-color: #262626;;
    	height:65px!important;
        margin-bottom: 0;
        width:100%;
    }

    .footer ul li{
    	display: inline-block;
    	margin-top: 18px;
    	margin-left: 20px;
    	color:#CCCC00;
    	font-weight: bold;

    	
    }
        .footer ul {
           margin-left: -160px;
        }
          .footer ul i{
    	font-size:20px;
    	
    }
    </style>
    <footer class="footer">
      <div class="container">
        <ul>
           <li><i class="fa fa-envelope" aria-hidden="true" ></i> : hello@localhost.my</li>
           <li><i class="fa fa-mobile" aria-hidden="true"></i> : +603 5523 4445</li>
           <li><i class="fa fa-fax" aria-hidden="true"></i> : +603 5523 4445</i></li>
         
           <li></li>
        </ul>
      </div>
    </footer>